{% extends "layout.html" %}

{% block title %}
Diary - MealMaster
{% endblock %}

{% block link_styles %}
<link rel="stylesheet" href="/static/diary.css">
{% endblock %}

{% block main %}
<section class="diary-section">
    <h2>Diary</h2>
    <form action="/add_meal" method="POST" id="add-meal-form">
        <button type="button" id="add-meal-btn">Add Meal</button>
        <!-- Initially hidden input -->
        <div id="meal-input-overlay">
            <div id="meal-input">
                <label for="meal-name">Meal Name:</label>
                <input type="text" id="meal-name" name="meal_name" required>
                <button id="meal-submit" type="submit">Submit</button>
            </div>
        </div>
    </form>

    {% if meals %}
        
        {% for meal in meals %}

            <div class="meal-tables-container">
                
                <div class="meal-table-box">
                    <h3 class="meal-table-name"> {{ meal }} </h3>
                    
                    <table class="meal-table">
                        <thead>
                            <tr>
                                <th>Food</th>
                                <th>Quantity</th>
                                <th>Protein</th>
                                <th>Carbohydrates</th>
                                <th>Fat</th>
                                <th>Calories</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <button class="add-food-btn">Add Food</button>
                    <div class="food-input-overlay">
                        <form class="add-food-form" action="/add_food" method="POST">
                            <div class="food-input">
                                <input type="hidden" name="meal-name" class="meal-name" value="{{ meal }}">

                                <label for="food-name">Food name:</label>
                                <input type="text" class="food-name" name="food-name" required>

                                <label for="food-servings">No. of servings:</label>
                                <input type="number" class="food-servings" name="food-servings" required>

                                <button type="submit" class="food-submit">Submit</button>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        {% endfor %}

    {% endif %}

{% endblock %}

{% block script %}
    <script src="/static/diary.js"></script>
{% endblock %}
